@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
}

body {
  background-color: var(--color-background);
  color: #f4f4f5;
  /* zinc-100 */
}